<%= form_for booking, :url => {:action => 'create'} do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :timefrom %>
    <%= f.time_select :timefrom %>
  </div>

  <div class="field">
    <%= f.label :timeto %>
    <%= f.time_select :timeto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
