<%= form_for booking, :url => {:action => 'create'}, :html => {:name => 'booking_form', onsubmit: "return validation();"} do |f| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
     <%= f.label :building %>
     <%= select("building", "id", @buildings, :prompt => 'Choose Building') %>
  </div>
  <br />
    <div class="field">
      <%= f.label :room %>
      <%= select("booking", "room_id", @rooms) %>
    </div>
<br />

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :timefrom %>
    <%= f.time_select :timefrom %>
  </div>

  <div class="field">
    <%= f.label :timeto %>
    <%= f.time_select :timeto %>
  </div>

    <% if(@admin) %>
    <% unless @users.nil? %>
    <div class="field">
    <%= f.label :user %>
    <%= select("booking", "user_id", @users) %>
    </div>
    <% end %>
    <% end %>
    <br />

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br />

<script type="text/javascript">
  function validation()
  {
    if (document.getElementById('building_id').value === '')
    {
      return false;
    }
  }
  $('#building_id').on('change', function(ele) {
    var selected_item = $(ele.currentTarget).val();
    if(selected_item !== '')
    {
      $.ajax(
          {
            url: "/buildings/" + selected_item + ".json",
            success: function(jsonVal){
              $('#booking_room_id').find('option').remove().end();
              $.each(jsonVal, function(i, obj) {
                $('#booking_room_id').append($("<option></option>").attr("value", obj.id).text(obj.rnumber));
            })
          }
          });
    }
    else
    {
      $('#booking_room_id').find('option').remove().end();
    }
  });
</script>