<%= form_for booking, :url => {:action => 'create'}, :html => {:name => 'booking_form', onsubmit: "return validation();"} do |f| %>
    <% if booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

          <ul>
            <% booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <% if (@admin) %>
        <% unless @users.nil? %>
            <div class="field">
              <b>Reserve the room for</b>
              <%= select("booking", "user_id", @users) %>
            </div>
        <% end %>
    <% end %>
    <br/>

    <h3><i> Bookings can be made for at most two hours</i></h3>
    <br />
    <div class="field">
      <b><%= f.label 'Select Date - Start Time' %></b>
      <%= f.datetime_select :timefrom, discard_year: true, :minute_step => 30, min: Date.today, max: (@currentZone.at(Time.now)+ 2.weeks) %>
    </div><br/>

    <div class="field">
      <b><%= f.label 'Select Date - End Time' %></b>
      <%= f.datetime_select :timeto, discard_year: true, :minute_step => 30, min: Date.today, max: (@currentZone.at(Time.now) + 2.weeks) %>
    </div><br/>

    <div class="field">
      <b><%= f.label 'Enter Search Parameters: ' %></b>
      <input type="text" id="room_number" name="room_number" placeholder="Room number"/>
      <select type="text" id="building_name" name="building_name">
        <option value="-1">Choose Building...</option>
        <%
          @buildings.each do |name, id|
        %> <option value="<%= id %>"><%= name %></option>
          <%end%>
      </select>

      <select type="text" id="size_name" name="size_name">
        <option value="-1">Choose size...</option>
        <%
          $room_sizes.each do |size|
        %> <option value="<%= size %>"><%= size %></option>
        <%end%>
      </select>

      <select type="text" id="status" name="status">
        <option value="-1">Choose status...</option>
        <option value="Available">Available</option>
        <option value="Booked">Booked</option>
      </select>
    </div>

    <input type="submit" onclick="getRoomsData();return false"/>
    <br /><br />

    <table id="search_table" style="display: none">
      <tr id="no_delete">
        <th></th>
        <th>Room Number</th>
        <th>Building</th>
        <th>Size</th>
      </tr>
    </table>

    <br />
    <div class="actions" style="display: none" id="submit_button">
      <%= f.submit "Book the Room" %>
    </div>
<% end %>
<br/>


<% content_for :header do -%>
    <%= javascript_include_tag 'bookings/booking'%>
<% end -%>
<script>
  $('.actions').find('input').removeAttr('data-disable-with');
  $('.actions').find('input').removeAttr('disabled');
</script>