<%= form_for booking, :url => {:action => 'create'}, :html => {:name => 'booking_form', onsubmit: "return validation();"} do |f| %>
    <% if booking.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

          <ul>
            <% booking.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <b><%= f.label :building %></b>
      <%= select("building", "id", @buildings, :prompt => 'Choose Building') %>
    </div><br/>

    <div class="field">
      <b><%= f.label :room %></b>
      <%= select("booking", "room_id", @rooms) %>
    </div>
    <br/>

    <% if (@admin) %>
        <% unless @users.nil? %>
            <div class="field">
              <b>Reserve the room for</b>
              <%= select("booking", "user_id", @users) %>
            </div>
        <% end %>
    <% end %>
    <br/>

    <h3><i> Bookings can be made for at most two hours</i></h3>
    <br />
    <div class="field">
      <b><%= f.label 'Select Date - Start Time' %></b>
      <%= f.datetime_select :timefrom, discard_year: true, :minute_step => 30, min: Date.today, max: (@currentZone.at(Time.now)+ 2.weeks) %>
    </div><br/>

    <div class="field">
      <b><%= f.label 'Select Date - End Time' %></b>
      <%= f.datetime_select :timeto, discard_year: true, :minute_step => 30, min: Date.today, max: (@currentZone.at(Time.now) + 2.weeks) %>
    </div><br/>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<br/>


<% content_for :header do -%>
    <%= javascript_include_tag 'bookings/bookings'%>
<% end -%>
<script>
  $('.actions').find('input').removeAttr('data-disable-with');
  $('.actions').find('input').removeAttr('disabled');
  $('#building_id').on('change', retrieve_rooms);
  retrieve_rooms();
</script>