<%= stylesheet_link_tag 'bookings/tables' %>
<h2>Booking History for User: <%= @user_name %></h2>
<% unless @booking.empty? %>
  <% i=0
  @booking.each do |booking|
  if(booking.timeto > @currentZone.at(Time.now))
  i = i + 1
  end
  end %>
  <% unless (i==0) %>
  <p id="notice"><%= notice %></p>
  <table style='text-align:center;vertical-align:middle'>
    <thead>
    <tr>
      <th></th>
      <th>Room</th>
      <th>Building</th>
      <th>Date of Booking</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    </thead>

    <% i=0
      @booking.each do |booking|
      if(booking.timeto > @currentZone.at(Time.now))
      i = i + 1
      room = booking.room
    %>
      <tr style="background-color:#F7F7F7">
        <td><%= i %></td>
        <td><%= room.rnumber %></td>
        <td><%= room.building.bname %></td>
        <td><%= booking.timefrom.strftime("%d-%b-%y") %></td>
        <td><%= booking.timefrom.strftime("%I:%M %p") %></td>
        <td><%= booking.timeto.strftime("%I:%M %p") %></td>
        <td><%= link_to 'Release Booking', bookings_destroy_path(booking), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%end%>
    <%end%>
  </table>
<% else %>
    <i>No upcoming bookings found for user</i>
<% end %>
<% end %>
<br />
<br />
<%= button_to 'New Booking', add_booking_path, method: :get%><br />
<%= button_to 'Go Back', options_path, method: :get%>