<%= stylesheet_link_tag 'bookings/tables' %>

<% unless @booking.empty? %>
  <h3>Booking History for User: <%= @user_name %></h3>
  <p id="notice"><%= notice %></p>
  <table>
    <tr>
      <th></th>
      <th>Room</th>
      <th>Building</th>
      <th>Start Time</th>
      <th>End Time</th>
    </tr>
    <% i=0
      @booking.each do |booking|
      i = i + 1
      room = booking.room
    %>
      <tr>
        <td><%= i %></td>
        <td><%= room.rnumber %></td>
        <td><%= room.building.bname %></td>
        <td><%= booking.timefrom %></td>
        <td><%= booking.timeto %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking.id) %></td>
      </tr>
    <%end%>
  </table>
<% else %>
    No Booking History found for user
<% end %>
<br />
<br />
<%= link_to 'New Booking', add_booking_path %><br /><br />
<%= link_to 'Back to Dashboard', options_path%>