<% content_for :header do -%>
    <%= stylesheet_link_tag 'bookings/tables' %>
<% end -%>
<p id="notice"><%= notice %></p>
<h1>Administrators</h1>

<table>
  <thead>
  <tr>
    <th>Uname</th>
    <th>Uemail</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.uname %></td>
        <td><%= user.uemail %></td>
        <td><%= link_to 'Show Booking History', show_booking_path(user) %></td>
        <% unless user.id == @super_admin.id  %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% end %>
        <% unless user.id == session[:user_id] || user.id == @super_admin.id %>
          <td><%= link_to 'Delete', users_admin_index_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= button_to 'New User', add_user_path, method: :get %><br/>
<%= button_to 'Go Back', options_path, method: :get %>