<p id="notice"><%= notice %></p>
<h1>My Profile</h1><br/>
<p style="font-size: 18px">
  <strong>Uname:</strong>
  <i> <%= @user.uname %> </i>
</p>

<p style="font-size: 18px">
  <strong>Uemail:</strong>
  <i> <%= @user.uemail %> </i>
  <% if(@user.uemail.nil?) %>
  <i> Not provided </i>
  <% end %>
</p>
<% if(@admin) %>
<p style="font-size: 18px">
  <strong>Status:</strong>
  <% if(@user.utype == "admin") %>
  <i> Administrator </i>
  <% else %>
  <i> Member </i>
  <% end %>
</p>
<% end %><br/>
<div style="float: left; width: 50px">
<%= button_to 'Edit', edit_user_path(@user), method: :get %> </div>
<div style="float: left; width: 225px">
<%= button_to 'Go Back', options_path, method: :get %></div>
