<p id="notice"><%= notice %></p>

<p>
  <strong>Uname:</strong>
  <%= @user.uname %>
</p>

<p>
  <strong>Uemail:</strong>
  <%= @user.uemail %>
</p>

<p>
  <strong>Uphone:</strong>
  <%= @user.uphone %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
