<%= form_for room, :url => {:action => action} do |f| %>
    <% if room.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(room.errors.count, "error") %> prohibited this building from being saved:</h2>

          <ul>
            <% room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <br/>
    <h3><i>Please enter the room details below:</i></h3>
    <table>
      <tr>
        <td><%= f.label "Room Number" %></td>
        <td><%= f.text_field :rnumber %></td>
      </tr>

      <tr>
        <td><%= f.label :Size %></td>
        <td><%= select("room", "size", $room_sizes) %></td>
      </tr>
    <% unless @buildings.nil? %>
      <tr>
        <td><%= f.label :Building %></td>
        <td><%= select("room", "building_id", @buildings) %></td>
      </tr>
    <%end%>
    </table><br/><br/>
    <%= f.submit 'Create New Room' %>
<% end %>
