<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<h2>Search Room by parameters</h2>
<h4>Enter the following parameters:</h4>

<%= form_tag("/search", method: "get") do %>

    <%= label_tag(:q, "Room Number:") %>
    <%= text_field_tag(:q) %>
    <br>
    <%= label_tag(:q, "Room Size:") %>
        <td><%= select("room", "size", $room_sizes) %></td>
    <br>
    <%= label_tag(:q, "Building:") %>
    <td><%= select("room", "building_id", @buildings) %></td>
    <br>
    <%= label_tag(:q, "Status:  ") %>
    <td><%= select("room","status", %w[Available Booked]) %></td>
    <br><br>
    <%= submit_tag("Search") %>

<% end %>

<br>
<br>


<table>
  <thead>
    <tr>
      <th>Room number</th>
      <th>Building name</th>
      <th>Size(Chairs)</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.rnumber %></td>
        <td><%= room.building.bname %></td>
        <td><%= Room.get_size_in_words room.size %>(<%= room.size %>)</td>
        <td> <%= link_to 'Show', show_room_path(room.rnumber) %></td>
        <td> <%= link_to 'Book the room', show_room_path(room.rnumber) %></td>
        <td> <%= link_to 'Delete', rooms_destroy_path(room.rnumber), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', add_room_path %>
