<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Room number</th>
      <th>Building name</th>
      <th>Size(Chairs)</th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.rnumber %></td>
        <td><%= room.building.bname %></td>
        <td><%= Room.get_size_in_words room.size %>(<%= room.size %>)</td>
        <td> <%= link_to 'Show', show_room_path(room.rnumber) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', add_room_path %>
