<%= stylesheet_link_tag 'bookings/tables' %>
<p id="notice"><i><%= notice %></i></p>

<h1>Room Details</h1>
<p style="font-size: 18px">
  <strong>Room number:</strong>
  <%= @room.rnumber %>
</p>
<p style="font-size: 18px">
  <strong>Building:</strong>
  <%= @room.building.bname %>
</p>
<p style="font-size: 18px">
  <strong>Size:</strong>
  <%= Room.get_size_in_words @room.size %> (<%= @room.size %>)
</p>

<table>
  <tr>
    <th></th>
    <%
      hour = Time.now.at_midnight - 1.day
      while hour < Time.now.at_midnight
    %>
      <th colspan="2"><%=hour.strftime "%l:%M %P"%></th>
    <%
      hour += 1.hour
      end
    %>
  </tr>
  <% 7.times.each do %>
    <tr>
      <td><%= @cur_date %></td>
      <%
        epoch_time = @cur_date.to_time.to_i
        time = @currentZone.at(Time.at(epoch_time)).at_midnight
        time_next_day = time + 1.day
        while time < time_next_day
      %>
          <!-- Used to show the bookings for a room -->
          <%unless @bookings.where('timefrom <= ? and timeto > ?', time, time).empty? %>
              <td bgcolor="red"></td>
          <%else%>
              <td></td>
          <%end%>
      <%
          time = time + 30.minutes
        end
        @cur_date = @cur_date + 1.day
      %>
    </tr>
  <% end %>
</table>
<br />
<%= button_to 'Go Back', rooms_path, method: :get %>
