<h1>Login</h1>

<div id="timesheet"></div>
<script>
  new Timesheet('timesheet', 1992, 2016, [
    ['2002', '09/2002', 'A freaking awesome time', 'lorem'],
    ['06/2002', '09/2003', 'Some great memories', 'ipsum'],
    ['2003', 'Had very bad luck'],
    ['10/2003', '2006', 'At least had fun', 'dolor'],
    ['02/2005', '05/2006', 'Enjoyed those times as well', 'ipsum'],
    ['07/2005', '09/2005', 'Bad luck again', 'default'],
    ['10/2005', '2008', 'For a long time nothing happened', 'dolor'],
    ['01/2008', '05/2009', 'LOST Season #4', 'lorem'],
    ['01/2009', '05/2009', 'LOST Season #4', 'lorem'],
    ['02/2010', '05/2010', 'LOST Season #5', 'lorem'],
    ['09/2008', '06/2010', 'FRINGE #1 & #2', 'ipsum']
  ]);
</script>

<%= form_for @users, :url => {:action => 'show'} do |f| %>
    <% if flash[:alert]%>
      <p id="notice"><%= flash[:alert] %></p>
    <%end%>
    <br />
    <table>
      <tr>
        <td>Username/Email: </td><td><%= f.text_field :uname %> </td>
      </tr>
      <tr>
        <td>Password: </td><td><%= f.password_field :pass %></td>
      </tr>
    </table>
    <br />
    <%= f.submit 'Log In'%>
<% end %>
<br />
<%= button_to 'Register', add_user_path, :method => 'get' %>