<h1>Login</h1>

<%= form_for @users, :url => {:action => 'show'} do |f| %>
    <% if flash[:alert]%>
      <p id="notice"><%= flash[:alert] %></p>
    <%end%>
    <br />
    <table>
      <tr>
        <td>Username/Email: </td><td><%= f.text_field :uname %> </td>
      </tr>
      <tr>
        <td>Password: </td><td><%= f.password_field :pass %></td>
      </tr>
    </table>
    <br />
    <%= f.submit 'Log In'%>
<% end %>
<br />
<%= button_to 'Register', add_user_path, :method => 'get' %>