
<%= form_for @users, :url => {:action => 'show'} do |f| %>
    <p id="notice"><%= notice %></p>
    <br />
    <table>
      <tr>
        <td>Username: </td><td><%= f.text_field :uname %> </td>
      </tr>
      <tr>
        <td>Password: </td><td><%= f.password_field :pass %></td>
      </tr>
    </table>
    <br />
    <%= f.submit 'Log In'%>
<% end %>
