<!DOCTYPE html>
<html>
  <head>
    <title>Library Room Booking</title>

    <p style = "border: 1px hidden;outline-style: hidden;background-color: #4682B4;font-size:25px;font-family:'Baskerville Old Face';color: chartreuse">
      <br/><b>LIBRARY  ROOM  BOOKING</b><br/></p>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag 'bookings/booking'%>
    <%= yield(:header) if content_for? :header %>
    <% unless session[:user_id].nil? %>
      <h2 id='logout' name='logout' style="text-align: right; color: blue">
        <%= link_to 'Logout', logout_path %>
      </h2>
        <%
          if User.is_notification_needed? session[:user_id]
            user_and_team = User.get_notification_data_and_clear session[:user_id]
        %>
            <p style="text-align:center;">A room was booked by '<%= user_and_team.first %>' for the team '<%= user_and_team.last %>'</p>
        <% end %>
    <% end %>
  </head>

  <body style ="background-color: ivory">
    <%= yield %>
  </body>
<p style = "border: 1px hidden;outline-style: hidden;background-color: #4682B4;text-align: right;color: chartreuse;font-size:25px;">CSC-517</p>
</html>
</script>